{% extends "layout.html" %}

{% block content %}

<section class="about_rocketseat">
    <div class="text">
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo</h2>
        <p> Mais do que uma plataforma de educação em tecnologia,
            somos uma comunidade incrível de programadores em busca do próximo nível <br />
            Em um mundo onde a informação fica obsoleta cada vez mais rápido,
            velocidade de aprendizado é a chave para o sucesso.
        </p>
    </div>
    <div>
        <img src="./assets/starter (1).svg" alt="Imagem">
    </div>
</section>

<div class="techs">
    <div class="techs_basic">
        <h3>Do basico</h3>
        <ul class="basic">
            <li>
                <img src="./assets/curso-javascript.svg" alt="curso-javascript">
                <p>JavaScript</p>
            </li>
            <li>
                <img src="./assets/curso-javascript-es6.svg" alt="curso-javascript-es6">
                <p>JavaScript ES6+</p>
            </li>
        </ul>
    </div>
    <div class="techs_beginer">
        <h3>Ao avançado</h3>
        <ul class="beginer">
            <li>
                <img src="./assets/curso-nodejs.svg" alt="curso-nodejs">
                <p>NodeJs</p>
            </li>
            <li>
                <img src="./assets/curso-reactjs.svg" alt="curso-reactjs">
                <p>ReactJs</p>
            </li>
            <li>
                <img src="./assets/curso-react-native.svg" alt="curso-react-native">
                <p>React Native</p>
            </li>
        </ul>
    </div>
</div>

{% endblock %}